<nav>
    <div class="nav-wrapper green">
        <a href="/" class="brand-logo center white-text"><%= title %></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/#!/words/create">일기 쓰기</a></li>
            <li><a href="/#!/mywords">내 일기</a></li>
        </ul>
    </div>
</nav>