<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

<!-- angular.js -->
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/application.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>


<!-- Loding bar 구현 -->
<script>
    $(window).load(function () {
        $('.preloader-wrapper').hide();
    })
</script>
<div class="preloader-wrapper big active fixed" style="position:fixed; top: 45%; right: 47%; display:block">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>