<section ng-controller="angularController">
    <div data-ng-show="!authentication.user">
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    </div>
    <div data-ng-show="authentication.user">
        <h1>Hello <span data-ng-bind="authentication.user.username"></span></h1>
        <a href="/signout">Signout</a>
        <ul>
            <li><a href="/#!/words">List Words</a></li>
            <li><a href="/#!/words/create">Create Word</a></li>
        </ul>
    </div>
</section>