<script>
/*    $(document).ready(function(){
        var title = ['오늘 하루는 어떠셨나요?', '오늘의 교훈은?', '오늘의 명언을 남겨보세요.'];
        var result = Math.floor(Math.random() * title.length);
        console.log(title[result]);
        $("#title").attr('value', title[result]);
    })*/
</script>

<section data-ng-controller="WordsController">
    <h5 class="center">일기 쓰기</h5>

    <form data-ng-submit="create()" novalidate>
        <div class="input-field">
            <input data-ng-model="title" id="title" type="text" class="validate" disabled>
            <label for="title" class="active">질문(제목) - 변경 불가</label>
        </div>
        <div>
            <label for="content">Content</label>
            <div>
                <textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
            </div>
        </div>
        <div>
            <input type="checkbox" data-ng-model="visibility" class="filled-in" id="visibility" checked="checked" />
            <label for="visibility">비공개</label>
        </div>
        <div>
            <input type="submit">
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>