<section data-ng-controller="WordsController" data-ng-init="find()">
        <h4 class="center">내 일기</h4>
        <ul class="collection">
            <li data-ng-repeat="word in words" ng-if="word.creator._id == authentication.user._id" class="collection-item avatar">
                <a data-ng-href="#!/words/{{word._id}}" data-ng-bind="word.title"></a>
                <br>
                <p data-ng-bind="word.content"></p>
                <p class="right" data-ng-bind="word.created | date:'medium'"></p>
            </li>
        </ul>
        <div data-ng-hide="!words || words.length">
            No articles yet, why don't you
            <a href="/#!/words/create">
                create one
            </a>?
        </div>
</section>