<section data-ng-controller="WordsController" data-ng-init="findOne()">
    <h1 data-ng-bind="word.title"></h1>
    <div data-ng-show="authentication.user._id == word.creator._id">
        <a href="/#!/words/{{word._id}}/edit">edit</a>
        <a href="#" data-ng-click="delete();">delete</a>
    </div>
    <small>
        <em>Posted on</em>
        <em data-ng-bind="word.created | date : 'medium'"></em>
        <em>by</em>
        <em data-ng-bind="word.creator.username"></em>
    </small>
    <p data-ng-bind="word.content"></p>
</section>