<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./templates/materialize_head.ejs %>

</head>
<body>
    <!-- script include -->
    <% include ./templates/materialize_body.ejs %>
    <% include ./templates/words_body.ejs %>

    <!-- top nav header include -->
    <% include ./templates/header.ejs %>

    <% if (username) { %>
        <h2>Hello <%=username %></h2>
        <a href="/signout">Sign out</a>
    <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    <% } %>
    <!-- angular js TEST -->
    <br/>
    <section ng-include="'words/views/words.client.view.html'"></section>
</body>
</html>