<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./templates/materialize_head.ejs %>

</head>
<body>
    <!-- script include -->
    <% include ./templates/materialize_body.ejs %>
    <% include ./templates/words_body.ejs %>
    <% include ./templates/user_body.ejs %>

    <!-- top nav header include -->
    <% include ./templates/header.ejs %>

    <% if (user) { %>
        <a href="/signout">Sign out</a>
    <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    <% } %>
    <!-- angular js TEST -->
    <br/>
    <section ng-view></section>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>
    </script>
</body>
</html>