<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./templates/materialize_head.ejs %>

</head>
<body>
    <!-- script include -->
    <% include ./templates/materialize_body.ejs %>
    <% include templates/angularJS_body.ejs %>
    <% include ./templates/user_body.ejs %>

    <!-- top nav header include -->
    <% include ./templates/header.ejs %>

    <section ng-view></section>
    <script type="text/javascript">
        window.user = <%- user || 'null' %>
    </script>

    <script type="text/javascript" src="/words/words.client.module.js"></script>
    <script type="text/javascript" src="/words/controllers/words.client.controller.js"></script>
    <script type="text/javascript" src="/words/services/words.client.service.js"></script>
    <script type="text/javascript" src="/words/config/words.client.routes.js"></script>
</body>
</html>