<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./templates/materialize_head.ejs %>

</head>
<body>
    <% include ./templates/materialize_body.ejs %>
    <% include ./templates/header.ejs %>
    <% if (username) { %>
        <h2>Hello <%=username %></h2>
        <a href="/signout">Sign out</a>
    <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    <% } %>
</body>
</html>